<div style="background-color:black">
    <hr />
    <footer style="background-color:black">
        <p style="text-align:center;color:white">Henry&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>